<mat-sidenav-container>
    <mat-sidenav #start role="navigation">
      <mat-nav-list>
        <a *ngFor="let navItem of navItems"
           mat-list-item
           (click)="start.close()"
           routerLinkActive
           #routerLinkActiveInstance="routerLinkActive"
           [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
           [routerLink]="[navItem.route]">
          {{navItem.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <main>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>Angular Material Kitchen Sink Enhanced</h1>
      </mat-toolbar>
      <div #root="dir" dir="ltr">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
                <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </main>
  </mat-sidenav-container>
  