<mat-sidenav-container class="demo-container">
    <mat-sidenav #start role="navigation">
      <mat-nav-list>
        <a *ngFor="let navItem of navItems"
           mat-list-item
           (click)="start.close()"
           routerLinkActive
           #routerLinkActiveInstance="routerLinkActive"
           [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
           [routerLink]="[navItem.route]">
          {{navItem.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <main>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="demo-toolbar">
          <h1>Angular Material Kitchen Sink Enhanced</h1>
        </div>
      </mat-toolbar>
  
      <div #root="dir" dir="ltr" class="demo-content mat-app-background">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-container>
  